
@*@model List<Dashboard.Models.ArticleModel>
@foreach (ArticleModel item in Model)
{
    <form method="post" action="@Url.Action("Delete", "Preview")">
        <input type="hidden" name="id" value="@item.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
}*@

@model Dashboard.Models.ArticleModel

@{
    ViewData["Title"] = "Delete page";
}

<h1>Delete Article</h1>

<p>Are you sure you want to delete the article with ID: @Model.Id and Title: @Model.Title?</p>

<form method="post" action="@Url.Action("Delete", "Preview")">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
</form>